{% extends "base.html" %}

{% block content %}
<section class="events1">
    <h1>Upcoming UFC Events</h1>
    <div class="event-list1">
        <div class="event2">
            <h2><a href="https://www.espn.com/mma/fightcenter/_/id/600048801/league/ufc" target="_blank">Pereira vs Rountree Jr.</a></h2>
            <p>Sun, Oct 6 / 4:00 AM GMT+2</p>
            <p>Delta Center, Salt Lake City, UT, United States</p>
            <p><a href="https://www.espn.com/mma/fightcenter/_/id/600048801/league/ufc" target="_blank">How to Watch Tickets</a></p>
        </div>
        <div class="event2">
            <h2><a href="https://www.espn.com/search/_/q/royval%20vs%20taira" target="_blank">Royval vs Taira</a></h2>
            <p>Sun, Oct 13 / 1:00 AM GMT+2</p>
            <p>UFC APEX, Las Vegas, NV, United States</p>
            <p><a href="https://www.espn.com/search/_/q/royval%20vs%20taira" target="_blank">How to Watch Tickets</a></p>
        </div>
        <div class="event2">
            <h2><a href="https://www.espn.com/search/_/q/topuria%20vs%20" target="_blank">Topuria vs Max Holloway</a></h2>
            <p>Sun, Oct 20 / 10:00 PM GMT+2</p>
            <p>UFC APEX, Las Vegas, NV, United States</p>
            <p><a href="https://www.espn.com/search/_/q/topuria%20vs%20" target="_blank">How to Watch Tickets</a></p>
        </div>
        <!-- Additional Events -->
        <div class="event2">
            <h2><a href="https://www.espn.com/mma/fightcenter/_/id/600048802/league/ufc" target="_blank">Fighter A vs Fighter B</a></h2>
            <p>Sat, Nov 2 / 6:00 PM GMT+2</p>
            <p>Madison Square Garden, New York, NY, United States</p>
            <p><a href="https://www.espn.com/mma/fightcenter/_/id/600048802/league/ufc" target="_blank">How to Watch Tickets</a></p>
        </div>
        <div class="event2">
            <h2><a href="https://www.espn.com/mma/fightcenter/_/id/600048803/league/ufc" target="_blank">Fighter C vs Fighter D</a></h2>
            <p>Sat, Nov 16 / 7:00 PM GMT+2</p>
            <p>UFC APEX, Las Vegas, NV, United States</p>
            <p><a href="https://www.espn.com/mma/fightcenter/_/id/600048803/league/ufc" target="_blank">How to Watch Tickets</a></p>
        </div>
    </div>
</section>
{% endblock %}
